replicaCount: 1

image:
  repository: ghcr.io/matheus06/product-service
  tag: "dev-24c5978"

resources:
  limits:
    cpu: 250m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ASPNETCORE_ENVIRONMENT
    value: "Development"
