replicaCount: 1

image:
  repository: ghcr.io/GITHUB_USERNAME/product-service
  tag: "dev-306466e"

resources:
  limits:
    cpu: 250m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ASPNETCORE_ENVIRONMENT
    value: "Development"
