replicaCount: 1

image:
  repository: ghcr.io/matheus06/order-service
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: order-service.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env: []

envFrom: []

vault:
  enabled: false
  address: "http://vault:8200"
  role: "order-service"
  secretPath: "database/creds/microservices-role"
  mongodbHost: "mongodb"
  mongodbPort: "27017"
  mongodbDatabase: "microservices"

productServiceUrl: "http://product-service:80"

metrics:
  enabled: false
  interval: 30s
