replicaCount: 1

image:
  repository: ghcr.io/matheus06/order-service
  tag: "dev-24c5978"

service:
  type: NodePort

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ASPNETCORE_ENVIRONMENT
    value: "Development"
  - name: ProductServiceUrl
    value: "http://product-service:80"
