auth:
  rootPassword: local-dev-password

persistence:
  enabled: true
  storageClass: microk8s-hostpath
  size: 1Gi

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
