image:
  tag: "8.0"

auth:
  rootPassword: local-dev-password

persistence:
  enabled: true
  storageClass: microk8s-hostpath
  size: 1Gi

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
