auth:
  rootPassword: prod-password-change-me

persistence:
  enabled: true
  storageClass: managed-premium
  size: 1Gi

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi
