# Copy this file to terraform.tfvars and customize the values

resource_group_name = "gitops-helm-rg"
location            = "eastus"
cluster_name        = "gitops-helm-aks"
kubernetes_version  = "1.29"
node_count          = 2
node_vm_size        = "Standard_B2s"
enable_auto_scaling = false
min_node_count      = 1
max_node_count      = 5
create_acr          = false
acr_name            = "youruniqueacrname"

tags = {
  Environment = "Lab"
  Project     = "GitOps-Helm"
  ManagedBy   = "Terraform"
}
