fullnameOverride: otel-collector

replicaCount: 1

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

metrics:
  enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024

  exporters:
    prometheus:
      endpoint: "0.0.0.0:8889"
      namespace: "otel"
    otlp/tempo:
      endpoint: "tempo.observability:4317"
      tls:
        insecure: true
    loki:
      endpoint: "http://loki.observability:3100/loki/api/v1/push"
      default_labels_enabled:
        exporter: true
        job: true
        instance: true
        level: true
      resource:
        labels:
          - service.name
          - k8s.namespace.name
          - k8s.pod.name
          - k8s.container.name
      attributes:
        labels:
          - level

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/tempo]
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus]
      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [loki]
