replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.96.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  otlpGrpcPort: 4317
  otlpHttpPort: 4318

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi

metrics:
  enabled: false

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024

  exporters:
    prometheus:
      endpoint: "0.0.0.0:8889"
      namespace: "otel"
    otlp/tempo:
      endpoint: "tempo.observability:4317"
      tls:
        insecure: true
    loki:
      endpoint: "http://loki.observability:3100/loki/api/v1/push"

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/tempo]
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus]
      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [loki]
